body {
    padding: 2em;
}

.site {
    max-width: 900px;
    margin: 0 auto;
}

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

site-title {
    margin-bottom: 0;
}