body {
    padding: 1em;
}

.site {
    max-width: 900px;
    margin: 0 auto;
}

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #eee;
    margin-bottom: 2em;
}

site-title {
    margin-bottom: 0;
}

.site-footer {
    padding-top: 0.5em;
    border-top: 1px solid #eee;
    margin-top: 2em;
}

.site-footer p {
    font-style: italic;
    opacity: 0.5;
}

.site.blog {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

.site.blog .site-header,
.site.blog .site-footer {
    flex: 0 0 100%;
}

.site.blog > main {
    flex: 0 0 600px;
}

.site.blog > aside {
    flex: 1 1 200px;
}