/* navigation fixed top */
/* .main-nav { 
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.1);
    padding: 1em;
} */
/* navigation fixed top */

.main-nav { 
    padding: 1em;
}

.main-nav ul {
    display: flex;
}

.main-nav li {
    display: block;
    list-style: none outside;
}

.main-nav a {
    display: block;
    color: #4682B4;
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 0.3em;
    transition: 
        background-color 0.2s ease-in,
        color 0.2s ease-in
        /* transform 0.2s ease-in */ 
    ;
}

.main-nav li.current-page > a,
.main-nav a:hover {
    background:#4682B4;
    color: #F0F0F0;
}

/* .site-header:hover li a {
    transform: translate(0.3em, 1em);
} */