:root {
    color-scheme: light dark;
}

.site {
    --clr-background: #fff;
    --clr-text: #4682B4;
}

@media (prefers-color-scheme: dark) {
.site {
  --clr-background: #000000;
  --clr-text: #fff;
}
}