:root {
    color-scheme: light dark;
}

body.theme-light {

    --clr-background: black;
    --clr-text: red;
    
}

body.theme-dark {

    --clr-background: #F0F0F0;
    --clr-text: #4682B4;
    
}